body{
  background-image: url(./static/images/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  
}

.title{
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(228, 199, 37);
  font-weight: 10;
  font-size:10vh;
}

.spotify{
  display: flex;
  justify-content:center;
  margin:2vh;
}

.container{
  margin:20px;
  border:2px solid rgb(228, 199, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link{
  font-family: 'Playfair Display', sans-serif;
  color: rgb(228, 199, 37);
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 50;
}

a{
  text-align: center;
  margin:5vh;
}

a:hover{
  color:whitesmoke;
}

.social-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.icon:hover{
  bgColor:whitesmoke;
}


